<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
      function fibonacci(times) {
        let previousNumber = 0;
        let nextNumber = 1;
        let result;

        while (times >= 0) {
          result = previousNumber + nextNumber;
          previousNumber = nextNumber;
          nextNumber = result;
          times--;

          // Diese Zeile schreibt das Resultat in das HTML-Dokument
          document.write(`${result}, `);
        }
      }

      fibonacci(100);
    </script>
  </head>

  <body>
  </body>

</html>
