#playground {
  display: grid;
  grid: repeat(3, 1fr) / repeat(7, 1fr);
  grid-gap: 1rem;
  width: 80vw;
  /* miheight: 100vw; */
  margin: 0 auto;
}

.won {
  opacity: 0.5;
  position: relative;
}

.won .won-text {
font-size: 4rem;
font-weight: bold;
text-align: center
}

.tile.revealed img, .tile.found img {
  margin: 1rem auto;
  display: block;
}

.tile img {
  display: none;
}

.tile.revealed, .tile.found {
  background-color: white;
  background-image: none;
}

.tile {
  height: 8rem;
  width: 8rem;
  background-color: #878c00;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}
